# Python Version 3.11.0 
# env_name: deep_learning_v2
# tensorflow==2.11.0
tensorflow
numpy
pandas
scikit-learn
opencv-python
ipykernel
matplotlib
mlflow==2.2.2
notebook
matplotlib
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-pyYAML
Flask
Flask-Cors
-e .